*.[oa]
*.*
*.sln
*.vcxproj
.vs
Debug
build
CMakeFiles
TempRsrv
out
!*.c
!*.h
!*.json
!*.gitignore
!*.txt
!*.md
!*.cmake
!Debug/*.exe
!Release/*.exe
C_MultiThread_Template/TestAnotherApproach.c
!ProtocolDevelopingTest/ProtocolMasterDevelopeTest/ProtocolMasterDevelopeTest.sln
!ProtocolDevelopingTest/ProtocolSlaveDevelopeTest/ProtocolSlaveDevelopeTest.sln
!ProtocolDevelopingTest/ProtocolMasterDevelopeTest/Debug/*.exe
!ProtocolDevelopingTest/ProtocolSlaveDevelopeTest/Debug/*.exe
!ProtocolDevelopingTest/IO_immitationBetweenMasterSlave/
ProtocolDevelopingTest/IO_immitationBetweenMasterSlave/OLD_iofile.txt
f