*.[oa]
*.*
*.sln
*.vcxproj
.vs
Debug
TempRsrv
!*.c
!*.h
!*.json
!*.gitignore
!*.txt
!*.md
!Debug/*.exe
!Release/*.exe
C_MultiThread_Template/TestAnotherApproach.c
!ProtocolDevelopingTest/ProtocolMasterDevelopeTest/ProtocolMasterDevelopeTest.sln
!ProtocolDevelopingTest/ProtocolSlaveDevelopeTest/ProtocolSlaveDevelopeTest.sln
f